.frase-destaque::first-letter {
    color: #D4AF37 !important; 
    font-size: 1.5em !important; /* Aumenta um pouco o tamanho para dar ênfase */
    font-weight: bold !important;
    font-style: italic; /* Opcional, para combinar com o estilo da imagem */
    margin-right: 2px;
}

/* Pseudo-classe adicional para melhorar o visual ao passar o mouse (hover) */
.frase-destaque:hover {
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: default;
}