/* Variáveis e configurações gerais */
:root {
  --cor-primaria: #ffc400;
}

::selection{
    color: white;
    background: #d4af37;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: #909e8f transparent;
}

body {
    
    background-color:#f1f1f180;
    font-family: Arial, Helvetica, sans-serif;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.253);
    margin-bottom: 50px;
}

.logo{
    color: #333;
}

.logo img{
    position: relative;
    height: 10vh;
    width: auto;
    animation: flutuar 3s ease-in-out infinite;
}

.centralizar table{
    display:flexbox;
    height: 30vh;
    justify-content: center;
}


.nav-links{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links a{
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.main{
    text-align: center;
    padding: 20px;
}

.tiposVinho div {
        width: 180px;
        margin: 30px;
        display: inline-block;
        vertical-align: top;
}
/* classes e ids */
.tiposVinho {
    text-align: center;
    display: flex;
}  

.tiposVinho img {
    width: 200px;
    height: auto;
}

.tiposVinho h3 {
    margin-top: 10px;
    font-size: 18px;
}

#container-principal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffe600;
}


.titulo-principal {
    color: #8B0000; 
    text-align: center;
    margin-bottom: 20px;
}

.frase-destaque {
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
    font-family: Georgia, serif; 
    margin: 10px 0;
}

/* ÁREA do FORMULÁRIO */
.titulo-contato {
    text-align: center;
    margin-top: 100px;
    color: var(--cor-primaria);
}

.container-contato {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 50px;
}

.form-contato {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px #e9e9e8;
    border-radius: 20px;
    padding: 30px;
    width: 400px;
}

/* FORMULÁRIO: Elementos do formulário */
.form-contato label, 
.form-contato input, 
.form-contato textarea {
    margin: 5px;
}

.form-contato input, 
.form-contato textarea {
    font-family: inherit;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid transparent; 
    background-color: whitesmoke;
    outline: none;
}

.form-contato input:focus,
.form-contato textarea:focus {
    border-color: #d4af37;
    box-shadow: 0 0 5px #f1c840;
}

.form-contato textarea {
    resize: none;
    min-height: 200px;
}

/* FORMULÁRIO: Configurações do Botão de Enviar */
.form-contato button {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--cor-primaria);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
} 

#homeSecoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

/* efeitos no sobre */

.container-sobre {
    font-family: georgia, serif;
    max-width: 1200px;
    margin: 0 auto;
}

.titulo-sobre {
    padding-top: 30px;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    font-weight: 600;
}

.subtitulo-sobre {
    text-align: center;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 50px;
}

/* grid cards */

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

/* texto no Card */

.card-title{
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
}

.card-text {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
}

